/* Global Styling Start */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
}

.container {
  width: 90%;
  margin: auto;
  max-width: 1440px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  width: 100%;
}

.primary-btn {
  display: inline-block;
  padding: 0.6rem 1.7rem;
  border: 1px solid rgb(230, 145, 106);
  color: rgb(230, 145, 106);
  border-radius: 50px;
  transition: all 0.5s ease-in-out;
}

.primary-btn:hover {
  background-color: rgb(230, 145, 106);
  color: #fff;
}

/* Header Styling Start */

header {
  position: fixed;
  width: 100%;
  background-color: #efefef;
  min-height: 10vh;
  display: flex;
  align-items: center;
  z-index: 999;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  width: 160px;
}

.nav-menu {
  display: flex;
  list-style-type: none;
}

.nav-menu li:not(last-child) {
  margin-right: 1rem;
}

.nav-link {
  text-transform: uppercase;
  color: #333;
  transition: color 0.3s ease-in-out;
}

.nav-link.active,
.nav-link:hover {
  color: rgb(230, 145, 106);
}

/* Main Styling */

.main {
  padding-top: 10vh;
}

/* Hero Styling Start */

.hero {
  width: 100%;
}

.hero .row {
  min-height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col-left {
  max-width: 90%;
}

.hero-title {
  font-size: 2.5rem;
  font-weight: 900;
}

.hero-desc {
  margin: 1.4rem 0;
  opacity: 0.9;
}

.hero-btn {
  margin-top: 0.5rem;
}

.col-right {
  width: 700px;
}

.col-right #video {
  width: 100%;
  height: 350px;
}

@media screen and (max-width: 768px) {
  .row {
    flex-wrap: wrap;
    text-align: center;
  }

  .col-left {
    margin: 1.5rem 0 2rem 0;
  }
}

/* Newsletter Section */

.newsletter {
  background-color: rgb(230, 145, 106);
  color: #efefef;
  padding: 4rem 0;
}

.newsletter-title {
  text-transform: capitalize;
  font-size: 1.6rem;
}

.newsletter-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newsletter-row .form {
  display: flex;
}

.newsletter-row .form .email {
  outline: none;
  border: 0;
  padding: 0.9rem 1rem;
  min-width: 300px;
  margin-right: 0.6rem;
}

.newsletter-row .form #submit {
  background-color: #fff;
  color: #333;
  outline: 0;
  border: 0;
  padding: 0.9rem 1.4rem;
  font-weight: 600;
  border: 1px solid #fff;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.newsletter-row .form #submit:hover {
  background-color: transparent;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .newsletter-row {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .newsletter-title {
    margin-bottom: 1rem;
  }

  .newsletter-row .form {
    flex-direction: column;
    margin: auto;
  }

  .newsletter-row .form .email {
    margin-bottom: 0.6rem;
    max-width: 100%;
  }

  .newsletter-row .form #submit {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    width: 30%;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
}

/* About Styling */

.about {
  margin: 100px 0;
}

.about-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0rem 3rem;
  height: 100%;
  align-items: center;
}

.about-title {
  font-size: 2rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.about-desc {
  line-height: 1.7;
}

.about-btn {
  margin: 1.5rem 0;
}

@media screen and (max-width: 1024px) {
  .about-row {
    grid-template-columns: 1fr;
  }

  .about-img-container {
    margin-bottom: 1rem;
  }
}

/* Service Styling Start */

.services {
  margin: 100px 0;
}

.services-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 4rem;
}

.services-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.service-box {
  border: 2px solid #666;
  border-radius: 15px;
  padding: 3rem 2rem;
  min-height: 350px;
}

.service-box i {
  font-size: 2rem;
}

.service-head {
  margin: 1rem 0;
  font-size: 1.2rem;
}

.service-desc {
  opacity: 0.8;
}

.service-btn {
  display: flex;
  margin-top: 1rem;
  align-items: center;
  color: #222;
}

.service-btn:hover i {
  transform: translateX(10px);
}

.service-btn i {
  font-size: 1rem;
  margin-left: 0.2rem;
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 1024px) {
  .services-row {
    grid-template-columns: repeat(2, 1fr);
  }

  .service-box {
    min-height: auto;
  }
}

@media screen and (max-width: 768px) {
  .services-row {
    grid-template-columns: 1fr;
  }
}

/* Pricing Box */

.pricing {
  margin: 100px 0;
}

.pricing-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 4rem;
}

.pricing-row {
  display: grid;
  gap: 2rem;
}

.pricing-col {
  transition: all 0.4s ease-in-out;
}

.price-box {
  border: 1px solid #333;
  border-radius: 15px;
  overflow: hidden;
  min-height: 350px;
}

.price-box-head {
  background-color: #333;
  color: #efefef;
  padding: 2rem;
}

.price-box-head hr {
  margin: 1rem 0;
  opacity: 0.3;
}

.price-box-plan {
  text-align: center;
  font-size: 2.5rem;
}

.price-box-value {
  font-size: 2.5rem;
  text-align: center;
}

.price-box-value small {
  font-size: 1rem;
}

.pricing-box-body {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
}

.pricing-box-menu {
  list-style-type: none;
}

.price-box-item {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
}

.price-box-item span {
  margin-right: 0.5rem;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price-box-btn {
  display: inline-block;
  padding: 0.6rem 2rem;
  margin: 1rem auto;
  background-color: #333;
  border: 1px solid #333;
  color: #efefef;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.price-box-btn:hover {
  background-color: transparent;
  color: #333;
}

@media screen and (min-width: 990px) {
  .pricing-row {
    grid-template-columns: repeat(3, 1fr);
  }

  .pricing-col:nth-child(2) {
    transform: scale(1.05);
  }

  .pricing-col:hover {
    transform: scale(1.08);
  }
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 2rem;
}
